/* Example: */
.container {
    width: 1000px;
    display: flex;
    background-color: aquamarine;
}

.item {
    flex: 1; 
}

.box {
    width: 200px;
    height: 100px;
    padding: 20px;
    background-color: blue;
    border: 2px solid black;
    text-align: center;
    align-items: center;
}