#top-placeholder {
    background-color: beige;
    display: flex;
}

.navigation-button {
    text-align: right;
}

#button-placeholder {
    align-content: center;
}

#inside-top-placeholder {
    background-color: blue;
}

#first-section {
    text-align: center;
    background-color: aqua;
}

.first-div {
    text-align: center;
}

.figure {
    text-align: center;
}

.spiderverse-characters {
    height: 400px;
    width: 400px;
}

#second-section {
    height: 100vh;
    text-align: center;
    background-color: aquamarine;
}

#second-to-last {
    background-color: bisque;
    text-align: center;
}

#last-div {
    background-color: rgb(165, 32, 32);
    text-align: center;
}

.first-h2-of-last-div{
    background-color: rgb(24, 221, 247);
}
.second-h2-of-last-div {
    background-color: aquamarine;
}