.top-section {
    background-color: skyblue;
}

.top-h1 {
    text-align: center;
    background-color: aquamarine;
    outline-style: solid;
}

.top-paragraph {
    text-align: center;
}

.cat {
    display: block;
    margin: auto;
}

.middle-section {
    text-align:center;
}

.middle-section-button {
    border-color:blue;
    width: 1000px;
    height: 1000px;
    transition: 0.3s;
}

.middle-section-button:hover {
    background-color: rgb(10, 192, 40);
}

.bottom-section {
    text-align:center;
}

section + h1 {
    color:skyblue;
}

table {
    border-collapse: collapse;
    margin: auto;
}

th, td {
    border:1px solid grey;
    padding: 4px;
}

.miles-morales-figurine:hover {
    background-color:blue;
}

.dropdown {
    position:relative;
    display:inline-block;
}

.dropdown-button {
    background-color: green;
    color: white;
    padding: 13px;
    border:none;
    font-size:16px;
    cursor:pointer;
}

.dropdown-button:hover {
    background-color:black;
}

.dropdown-menu {
    display:none;
    position: absolute;
    background-color:rgb(188, 126, 224);
    min-width:150px;
}

.dropdown-menu a{
    color:black;
    padding:11px 15px;
    text-decoration:none;
    display: block;
}

.dropdown-menu a:hover {
    background-color:purple;
}

.dropdown:hover .dropdown-menu {
    display:block;
}

.dropdown:hover .dropdown-button {
    background-color: orange;
}